<div class="container">
    <div class="col-md-6">
        <h4>Your Recipes</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let recipe of recipes; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveRecipe(recipe, i)"
          >
            {{ recipe.title }}
          </li>
        </ul>
        <!--  -->
      </div>
      <div class="col-md-6">
        <div *ngIf="currentRecipe">
          <h4>Recipies</h4>
          <div>
            <label><strong>Title:</strong></label> {{ currentRecipe.title }}
        </div>
        <div>
          <label><strong>Ingredients:</strong></label>
          {{ currentRecipe.ingredients }}
        </div>
        <div>
            <label><strong>Method:</strong></label>
            {{ currentRecipe. method }}
          </div>
        
        <a class="badge badge-warning" routerLink="/recipes/{{ currentRecipe.id }}">
          Edit
        </a>
      </div>
      <div *ngIf="!currentRecipe">
        <br />
        <p>Please click on a Recipe...</p>
      </div>
    </div>
  
</div>